@media screen and (max-width:991px){
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }
    .nav-link{
        position: absolute;
        background-color: white;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;

    }
    .nav-link.active{
        left: 0;
    }
    .main-nav{
        overflow: initial;
    }
    .nav-link ul{
        flex-direction: column;
    }
    .example-area{
        gap: 20px;
    }
    .example-card{
        width:calc( 50%-10px);
        height: 180px;
    }
    .example-card:nth-child(2){
        width:calc( 50%-10px);
        height: 180px;
    }
    .example-card:nth-child(3){
        width:calc( 50%-10px);
        height: 180px;
    }
    .example-card:nth-child(4){
        width:calc( 50%-10px);
        height: 180px;
    }
    .cta-section{
        padding-block: 80px;
    }
    h3{
        font-size: 1.5rem;
    }
    .cta-section{
        display: none;
    }
}
@media screen and (max-width:767px){
    .footer-con{
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }
    .link-col{
        align-items: stretch;
    }
    .box{
        min-width: 100%;
    }

}
@media screen and (max-width:479px){
    :root{
        --padding-inline-section:10px;

    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.2rem;
    }
    p{
        font-size: 1rem;
    }
    .features-card{
        min-width:100%;
    }
    .account,.return,.nav-search,.nav-address {
        display: none;
    }
   .panel-opt{
    display: none;
   }
   .all{
    display: none;
   }
   .hero{
    min-width: 50%;
   }
   .box{
    min-width: 100%;
    flex-direction: column;
   }
   .box1{
    min-width: 100%;
    flex-direction: column;
   }
   .box2{
    min-width: 100%;
    flex-direction: column;
   }
   .box3{
    min-width: 100%;
    flex-direction: column;
   }
   .box4{
    min-width: 100%;
    flex-direction: column;
   }
   

}


